.add-cell {
  display: flex;
  align-items: center;
  margin: 4px 0;
  padding-inline: 0.15rem;
}

.add-cell .MuiButton-root {
  width: 100%;
  color: gray;
  background-color: transparent;
  transition: opacity 0.2s ease-in-out;
}

.add-cell .MuiButton-root:hover,
.add-cell .MuiButton-root.hover {
  opacity: 0.8;
  background-color: #fbfcfc;
}

.add-cell.dark .MuiButton-root {
  opacity: 0.1;
}

.add-cell.dark .add-icon {
  color: #fff;
}

.add-cell.dark .MuiButton-root:hover,
.add-cell.dark .MuiButton-root.hover {
  opacity: 0.8;
  background-color: #121518;
}

.add-icon {
  color: gray;
  transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
}

.add-icon.hover {
  opacity: 1;
  color: #37667e;
}

.add-cell .MuiDivider-root {
  width: 100%;
  background-color: #808080;
  border-color: grey.500;
  transition: opacity 0.2s ease-in-out;
}

.add-cell .MuiDivider-root.hover,
.add-cell .MuiDivider-root:hover,
.add-cell .divider {
  opacity: 0.5;
}
