.dropruler {
  position: absolute;
  left: 12%;
  right: 0px;
  height: 4px;
  width: 75%;
  background: rgba(0, 0, 0, 0.5);
}

.droprulerTop {
  top: -11px;
}

.droprulerBottom {
  bottom: -10px;
}

.cellList {
  width: 100%;
  position: relative;
}

.cellList {
  align-content: center;
  width: 100%;
  flex: 1 1 0%;
  overflow-y: auto;
}

.cellList > div {
  margin: 0 auto;
  max-width: 800px;
}

@media (min-width: 800px) {
  .cellList > div {
    max-width: 1000px;
  }
}

@media (min-width: 1000px) {
  .cellList > div {
    max-width: 1200px;
  }
}

@media (min-width: 1200px) {
  .cellList > div {
    max-width: 1400px;
  }
}

@media (min-width: 1400px) {
  .cellList > div {
    max-width: 1600px;
  }
}

.cellListItem {
  margin: 0;
  padding: 0;
  display: block;
  min-height: calc(25px);
  margin-top: 10px;
  position: relative;
}

.cellListItem {
  position: relative;
}

.shoulder {
  position: absolute;
  left: -100px;
  top: 50%;
  width: 37%;
  cursor: move;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  /* Add an invisible border around the shoulder, to make it easier to click on. (The are between two cells is divided in two, each half belongs to the closest pluto-cell.) */
  top: calc(0px - 0.5 * 17px);
  bottom: calc(0px - 0.5 * 17px);
  border-top: calc(0.5 * 17px) solid rgba(0, 0, 0, 0);
  border-bottom: calc(0.5 * 17px) solid rgba(0, 0, 0, 0);
}

.shoulder:hover {
  background: rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
}
