<div data-tippy-root="" id="tippy-131"
  style="z-index: 9999; visibility: visible; position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(56.6667px, 83.3333px, 0px);">
  <div class="tippy-box" data-state="visible" tabindex="-1" data-animation="fade" role="tooltip"
    data-placement="bottom-start" style="max-width: 350px; transition-duration: 300ms;">
    <div class="tippy-content" data-state="visible" style="transition-duration: 300ms;">
      <div>
        <div>
          <div class="mantine-Menu-dropdown mantine-SlashMenu-root mantine-158etiw" aria-labelledby="mantine-r10-target"
            id="mantine-r10-dropdown" role="menu" tabindex="-1" data-position="bottom" aria-orientation="vertical"
            style="transition-property: opacity; transition-duration: 150ms; transition-timing-function: ease; opacity: 1; z-index: 300; top: 0px; left: 0px; width: max-content; max-height: 378.769px;">
            <div tabindex="-1" data-menu-dropdown="true" data-autofocus="true" style="outline: 0px;">
              <div class="mantine-Text-root mantine-Menu-label mantine-12lfa73">Other</div><button
                class="mantine-Menu-item mantine-SuggestionListItem-root mantine-1388dyo" type="button" tabindex="-1"
                role="menuitem" data-menu-item="true" data-hovered="true">
                <div class="mantine-koq93b mantine-Menu-itemIcon"><svg
                    class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-i4bv87-MuiSvgIcon-root" focusable="false"
                    aria-hidden="true" viewBox="0 0 24 24" data-testid="ErrorOutlineIcon">
                    <path
                      d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z">
                    </path>
                  </svg></div>
                <div class="mantine-1eawhj0 mantine-Menu-itemLabel">
                  <div class="mantine-Stack-root mantine-fui8ih">
                    <div class="mantine-Text-root mantine-1ni2dlv">Alert</div>
                    <div class="mantine-Text-root mantine-1dhgxgc">Used to emphasize text</div>
                  </div>
                </div>
              </button>
              <div class="mantine-Text-root mantine-Menu-label mantine-12lfa73">Media</div><button
                class="mantine-Menu-item mantine-SuggestionListItem-root mantine-1388dyo" type="button" tabindex="-1"
                role="menuitem" data-menu-item="true">
                <div class="mantine-koq93b mantine-Menu-itemIcon"><svg
                    class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-i4bv87-MuiSvgIcon-root" focusable="false"
                    aria-hidden="true" viewBox="0 0 24 24" data-testid="ImageIcon">
                    <path
                      d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z">
                    </path>
                  </svg></div>
                <div class="mantine-1eawhj0 mantine-Menu-itemLabel">
                  <div class="mantine-Stack-root mantine-fui8ih">
                    <div class="mantine-Text-root mantine-1ni2dlv">Insert Image</div>
                    <div class="mantine-Text-root mantine-1dhgxgc">Insert an image</div>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tippy-arrow" style="position: absolute; left: 0px; transform: translate3d(3.33333px, 0px, 0px);"></div>
  </div>
</div>