.buttonGroup {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 8px; /* Adjust the gap between buttons as needed */
}

.navbarActions {
  background-color: transparent;
  color: #fff;
}

.navbarActions:disabled {
  color: #eaeaec;
  opacity: 0.6;
}
