.logoContainer {
  display: flex;
  align-items: center;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  --vscode-sash-size: 4px;
  text-decoration-skip-ink: auto;
  -webkit-font-smoothing: antialiased;
  font-size: inherit;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  box-sizing: inherit;
  transition: opacity 0.3s ease 0s;
  opacity: 1;
  margin: 0px 2px;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Lato';
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

.logo {
  width: 62px;
  align-self: center;
}

.title {
  font-size: 16px;
  font-weight: 400;
  color: #596095;
}

.githubTitle {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
  color: #596095;
}

.separator {
  height: 30px;
  width: 1px;
  background-color: #e1dbdb;
  margin-left: 1.2em;
}

.githubContainer {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
  margin-top: 3px;
  padding: 16px;
}

.githubContainer::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  width: 0;
  height: 1.5px;
  background-color: #596095;
  transition: width 0.3s ease-in-out;
  /* transform: translateX(-50%); */
}

.githubContainer:hover::after {
  width: calc(100% - 16px);
}

.githubContainer:hover .githubLogo,
.githubContainer:hover .githubTitle {
  opacity: 1;
}

.githubLogo {
  margin-left: 2%;
}

.githubLogo,
.githubTitle {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0.6;
  margin-right: 10px;
}

.link {
  color: #344563 !important;
  background-color: transparent;
}

.link:after {
  transition: 150ms ease-in-out all;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  left: 0;
}

.link:hover {
  color: #344563 !important;
  background-color: transparent;
  border-radius: 0px;
}

.link:hover:after {
  background-color: #2b4869;
}

.link .authText {
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
  font-family: 'Lato';
  color: #343857;
}

.link:hover.link:after {
  background-color: #2b4869;
}

.sideMenu button {
  font-family: 'Lato';
}
