body {
  font-family: 'Lato', sans-serif;
}

code {
  font-family: 'Fira Code', monospace;
}

.main-content {
  padding-bottom: 60px;
  align-items: center;
  margin-inline: auto;
}

.notebook-title {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 50%;
}

div.notebook-title p {
  font-family: 'Lato', 'sans-serif';
  text-align: center;
}

.ProseMirror {
  padding: 8px 24px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

div[id*='tippy'] > div[class*='tippy-box'][data-placement='left'] {
  display: none !important;
}

.add-cell {
  display: flex;
  align-items: center;
  margin: 4px 0;
  padding-inline: 0.15rem;
}

.add-cell .MuiButton-root {
  width: 100%;
  color: gray;
  background-color: transparent;
  transition: opacity 0.2s ease-in-out;
}

.add-cell .MuiButton-root.hovered {
  opacity: 0.8;
  background-color: #fbfcfc;
}

.add-cell.dark .MuiButton-root.hovered {
  opacity: 0.8;
  background-color: #121518;
}

.add-cell.dark .MuiButton-root {
  opacity: 0.1;
}

.add-cell.dark .add-icon {
  color: #fff;
}

.add-icon {
  color: gray;
  transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
}

.add-icon.hovered {
  opacity: 1;
  color: #37667e;
}

.add-cell .MuiDivider-root {
  width: 100%;
  opacity: 1;
  background-color: #808080;
  border-color: #808080;
  transition: opacity 0.2s ease-in-out;
}

/* ANT DRAWER (CLIENT DRAWER) */

.dark .ant-drawer-wrapper-body {
  background-color: #121518;
}

.dark .ant-drawer-wrapper-body .ant-drawer-title,
.dark .ant-drawer-wrapper-body .ant-drawer-close,
.dark .ant-drawer-wrapper-body .ant-space-item h5 {
  color: #8892b0;
}

.button-normal {
  text-align: left;
  width: 100%;
  padding: 0;
  color: #000;
}

.button-normal:hover {
  background-color: #ddd;
}

.button-normal.dark-theme {
  color: #8892b0 !important;
  background-color: transparent;
}

.dark .ant-drawer-wrapper-body .ant-drawer-close:hover,
.button-normal.dark-theme:hover {
  color: #fff !important;
}

.editNameModal.dark .ant-modal-content,
.editNameModal.dark .ant-modal-title {
  background-color: #121518;
  color: #8892b0 !important;
}

/* EDIT NAME MODAL */
.editNameModal.dark .ant-input {
  background-color: #121518;
  color: #ddd !important;
  border: 1px solid #8892b0;
}

.editNameModal.dark button {
  background-color: #121518;
  color: #8892b0 !important;
  border: 1px solid #8892b0;
}

.editNameModal.dark button:hover {
  background: none;
  background-color: transparent !important;
  border: 1px solid #488bdd;
}

.editNameModal.dark button:disabled,
.editNameModal.dark button:disabled:hover {
  background-color: #121518;
  color: #8892b0;
  border: none;
}

.editNameModal.dark .ant-modal-close span,
.editNameModal.dark .ant-modal-close {
  color: #8892b0;
  border: none;
}

.editNameModal.dark .ant-modal-close:hover,
.editNameModal.dark .ant-modal-close span:hover {
  background-color: transparent;
  background: none;
  color: #fff;
  border: none;
}
