@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
@import url('./Client.css');
@import url('./CodeCell.css');
@import url('./MarkdownCell.css');
@import url('./LoadingSpinner.css');
@import url('./buttons.css');

body {
  font-family: 'Lato', sans-serif;
}

code {
  font-family: 'Fira Code', monospace;
}

.main-content {
  padding-bottom: 60px;
  align-items: center;
  margin-inline: auto;
}

.navbar-actions.run,
.navbar-actions.reset {
  width: 40px;
  height: 32.47px;
  border-radius: 2px;
  opacity: 1;
  box-shadow: rgba(6, 24, 44, 0.65) 0px 1px 2px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.navbar-actions.run:hover,
.navbar-actions.reset:hover {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset, rgba(6, 24, 44, 0.4) 0px 0px 0px 1px;
}

.navbar-actions.reset {
  margin-right: 6px;
  padding: 0.25rem 0.4rem;
}

.navbar-actions.run {
  margin-right: 6px;
}

.navbar-actions.run:disabled {
  opacity: 0.3;
}

.navbar-actions.reset:disabled {
  color: lightgray;
  opacity: 0.3;
}

.user-dashboard {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: #f9f6ee;
}

.user-dashboard.dark {
  background-color: #2c3032;
}

.user-dashboard .card-title {
  font-family: 'Lato';
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #283655;
}

.notebook-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.notebook-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.notebook-title {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 50%;
}

div.notebook-title p {
  font-family: 'Lato', 'sans-serif';
  text-align: center;
}

.landing .workspace-button,
.landing .explore-button {
  font-family: 'Lato';
  font-size: 1.5rem;
  font-weight: normal;
  padding: 10px 50px;
  width: 50vw;
  max-width: 400px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.landing .workspace-button {
  background-color: #dbc6f2;
}

.landing .explore-button {
  background-color: #7288d7;
}

.landing .workspace-button:hover {
  background-color: #f4936f;
}

.landing .explore-button:hover {
  background-color: #a9e4d6;
}

.add-cell {
  display: flex;
  align-items: center;
  margin: 4px 0;
  padding-inline: 0.15rem;
}

.add-cell .MuiButton-root {
  width: 100%;
  color: gray;
  background-color: transparent;
  transition: opacity 0.2s ease-in-out;
}

.add-cell .MuiButton-root:hover,
.add-cell .MuiButton-root.hover {
  opacity: 0.8;
  background-color: #fbfcfc;
}

.add-cell.dark .MuiButton-root {
  opacity: 0.1;
}

.add-cell.dark .add-icon {
  color: #fff;
}

.add-cell.dark .MuiButton-root:hover,
.add-cell.dark .MuiButton-root.hover {
  opacity: 0.8;
  background-color: #121518;
}

.add-icon {
  color: gray;
  transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
}

.add-icon.hover {
  opacity: 1;
  color: #37667e;
}

.add-cell .MuiDivider-root {
  width: 100%;
  background-color: #808080;
  border-color: grey.500;
  transition: opacity 0.2s ease-in-out;
}

.add-cell .MuiDivider-root.hover,
.add-cell .MuiDivider-root:hover,
.add-cell .divider {
  opacity: 0.5;
}

.draggable-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 100%;
}

.draggable-container:hover {
  background: rgb(242, 242, 242);
}

.draggable-container.dark:hover {
  background: #202324;
}
