.markdown-container {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.markdown-container.dark {
  width: 100%;
  border: 1px solid dimgray;
  border-radius: 5px;
}

.block-cell {
  padding: 0 calc((100% - 731px) / 2);
  height: 100%;
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  resize: none;
}

.has-text .isEmpty.hasAnchor .inlineContent:before {
  content: '';
}

div[id*='tippy'] > div[class*='tippy-box'][data-placement='left'] {
  display: none !important;
}

div[id*='blockcell'] > div > div[data-theme='dark'] {
  color: rgb(221, 215, 215) !important;
  background-color: #282a34 !important;
}

div[data-theme='dark'].blocknote-editor code {
  color: #fff !important;
  background-color: #3c4151 !important;
  border: 1px solid #5d6579;
}

div[data-theme='light'].blocknote-editor code {
  color: #6e6e6e !important;
  background-color: #fdfdfd !important;
  border: 1px solid #eaeaec;
}

.ProseMirror {
  padding: 8px 24px !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.blocknote-editor {
  padding: 8px 24px !important;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* .blocknote-editor ._collaboration-cursor__label_4vj2p_85 {
  color: #fff;
} */

.blocknote-editor code {
  font-family: 'Fira Code', 'Monaco', 'Mono Lisa', 'Monospace';
  font-size: 0.9rem;
  border-radius: 4px;
  padding-inline: 4px;
  padding-block: 1px;
}

.markdown-toolbar {
  height: 40px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin: 0;
  padding: 0;
  border-bottom: none;
  z-index: 0;
}

.markdown-toolbar.light {
  background-color: #f5f5f5;
}

.markdown-toolbar.dark-old {
  background-color: #282a35;
}

.markdown-toolbar.dark {
  background-color: #282a34;
}
