:root {
  --svg-color: #dbd3d8; /* Light mode color */
  --svg-color-dark: #282a34; /* Dark mode color */
}

.codecellContainer {
  width: 100%;
  border: 1px solid dimgray;
  border-radius: 5px;
  background-color: #3d414d;
}

.codecellContainer.dark {
  width: 100%;
  border-radius: 5px;
  background-color: #3d414d;
}

.codecellOutput {
  padding: 0 4px;
  opacity: 0.9;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.codecellOutput p {
  margin-left: 5px;
  color: '#cfd1d8';
  font-family: 'Fira Code', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 14px;
}

.codecellOutput.error {
  background-color: crimson;
}

.codecellOutput.critical {
  background-color: yellow;
}

.codecellOutput.critical p {
  color: black;
}

.cm-theme-dark .cm-gutters,
.cm-theme-dark .cm-content,
.cm-theme-dark .cm-gutter,
.cm-theme-dark .cm-scroller {
  background-color: goldenrod;
}

.cm-theme-light .cm-gutters,
.cm-theme-light .cm-content,
.cm-theme-light .cm-gutter,
.cm-theme-light .cm-scroller {
  background-color: inherit;
}

.cm-hasOutput .cm-scroller,
.cm-hasOutput .cm-content,
.cm-hasOutput .cm-gutters {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.cm-hasNoOutput .cm-scroller,
.cm-hasNoOutput .cm-content,
.cm-hasNoOutput .cm-gutters {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
