<div class="cm-tooltip-autocomplete cm-tooltip cm-tooltip-below"
  style="position: fixed;">
  <ul id="cm-ac-2oak" role="listbox" aria-expanded="true" aria-label="Completions">
    <li id="cm-ac-2oak-0" role="option" aria-selected="true">
      <div class="cm-completionIcon cm-completionIcon-keyword" aria-hidden="true"></div><span
        class="cm-completionLabel"><span class="cm-completionMatchedText">co</span>nst</span>
    </li>
    <li id="cm-ac-2oak-1" role="option">
      <div class="cm-completionIcon cm-completionIcon-keyword" aria-hidden="true"></div><span
        class="cm-completionLabel"><span class="cm-completionMatchedText">co</span>ntinue</span>
    </li>
  </ul>
</div>