.homepage {
  background: linear-gradient(180deg, rgba(0, 255, 255, 0) 0%, rgba(0, 255, 255, 0) 400px, rgba(255, 255, 255, 1) 700px),
    radial-gradient(circle at 15% 35%, #f5f7fa, rgba(255, 255, 255, 0) 25%),
    radial-gradient(circle at 85% 20%, #c3cfe2, rgba(255, 255, 255, 0) 25%), white;
  background-repeat: no-repeat;
}

.homepage .headline {
  font-family: Inter, 'SF Pro Display', -apple-system, 'system-ui', 'Open Sans';
  font-size: 16px;
  font-weight: 500;
  color: rgb(60, 65, 73);
}

.homepage .promotional {
  font-family: Inter, 'SF Pro Display', -apple-system, 'system-ui', 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: rgb(60, 65, 73);
}

.homepage .promotional h5 {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

* img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.demo {
  position: relative;
  display: flex;
  justify-content: center;
}

.code_block {
  display: block;
}

.code_block video {
  box-shadow: rgb(0 0 0 / 25%) 0px 10px 30px -20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  width: 90%;
}

.storySection {
  padding: 100px 0;
}

.perksPromotional {
  margin-bottom: 60px;
}

.mainStory {
  padding: 20px;
}

.mainStory .story {
  max-width: 1096px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  gap: 30px;
  margin-bottom: 100px;
}

.mainStory .story h4 {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 0;
}

.mainStory .story p {
  font-size: 18px;
}

.storySection .perks {
  margin-top: 100px;
  margin-bottom: 0px;
  font-size: 16px;
}

.storySection .perks h3,
.storySection .perks .perk span {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
}

.storySection .perks h3 {
  font-weight: bold;
}

.story {
  max-width: 1096px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  gap: 30px;
  margin-bottom: 100px;
}

.story > div {
  flex: 1 1 0px;
}

.story video {
  max-width: 100%;
  box-shadow: rgb(0 0 0 / 25%) 0px 10px 30px -20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.story img {
  max-width: 100%;
}

.perks {
  font-size: 16px;
  display: grid;
  flex: 0 0 auto;
  gap: 20px;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(2, min-content);
  justify-content: center;
}

.perks .perk {
  background: white;
  flex: 0 0 auto;
  place-self: start;
  text-align: left;
  padding: 30px;

  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 25%) 0px 1px 3px -2px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 100%;
  position: relative;
  transition: box-shadow 0.16s ease;
}

.perks .perk:hover {
  box-shadow: rgb(0 0 0 / 25%) 0px 10px 30px -20px;
}

.perk h3 {
  font-weight: 600;
  margin: 0.5em 0;
  color: rgb(91 94 118);
  font-size: 1.3em;
}

.perks .perk .icon {
  display: flex;
  height: 30px;
  margin-bottom: 1.2em;
}

.perks .perk span {
  color: rgb(91 94 118);
  line-height: 1.9em;
  font-weight: 500;
}

.sectionSeparator {
  height: 1px;
  width: 50%;
  margin: 0 auto;
  background: linear-gradient(to right, transparent, rgb(0, 0, 0, 0.2) 50%, transparent);
}

.homepage h2 {
  font-size: 1.8em;
  font-weight: 600;
  margin: 0 auto 1em auto;
}

form {
  margin: 0;
  display: contents;
}

.footer {
  background-color: #0a192f;
  padding: 90px 40px;
  text-align: left;
  justify-content: center;
}

.footerGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.footerColumn {
  flex: 1;
  min-width: 160px;
}

.footerHeading {
  color: #fff;
  margin-bottom: 1rem;
}

.footerList {
  list-style: none;
  padding-left: 0;
}

.footerList li a {
  color: #8892b0;
  text-decoration: none;
  transition: color 0.3s;
}

.footerList li a:hover {
  color: #fff;
}

.footerList ul a:hover {
  text-decoration: none;
}

.footerLogoContainer {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.footerLogoContainer img {
  width: 40%;
}

@media (min-width: 600px) {
  .footerGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .footerGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

:root {
  --vp-layout-max-width: 1440px;
  --content-max-width: 1480px;
}

.header {
  position: relative;
  display: flex;
  gap: 84px;
  width: var(--content-max-width);
  max-width: 100%;
  margin: 0 auto 112px;
  padding-top: 226px;
}

.content {
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.header,
.content {
  padding-left: 52px;
  padding-right: 52px;
}

@media (max-width: 1280px) {
  .header {
    gap: 64px;
  }

  .header,
  .content {
    padding-right: 32px;
  }
}
@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
  }

  .perks {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  .story {
    flex-direction: column;
  }

  .colReverse .story {
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .header,
  .content {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.headerContent {
  flex: 1.2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}

@media (max-width: 1024px) {
  .headerContent {
    align-items: center;
  }
}

.headerMedia {
  display: flex;
  flex-direction: column;
  max-width: 696px;
  width: 100%;
}

@media (max-width: 1460px) {
  .headerMedia {
    width: 44%;
  }
}
@media (max-width: 1280px) {
  .headerMedia {
    width: 48%;
  }
}
@media (max-width: 1024px) {
  .headerMedia {
    width: 100%;
    transform: translateY(0);
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  .headerMedia {
    display: none;
  }
}

.header .icon {
  width: 160px;
  height: 160px;
}

.header h1 {
  margin-bottom: 0;
  font-family: Gilroy, var(--vp-font-family-base);
  line-height: 1.2;
  font-weight: 400;
  margin-top: -25px;
  font-size: 76px;
  letter-spacing: -2px;
  line-height: 1;
  color: #000;
}

strong {
  font-weight: 600;
}

@media (max-width: 1400px) {
  .header h1 {
    font-size: 68px;
  }
}
@media (max-width: 1280px) {
  .header h1 {
    font-size: 60px;
  }
}
@media (max-width: 1024px) {
  .header h1 {
    text-align: center;
  }
}
@media (max-width: 960px) {
  .header h1 {
    font-size: 40px;
  }
}

.header p {
  max-width: 600px;
  margin: 0.75em 0 1.5em;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
}

@media (max-width: 1280px) {
  .header p {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .header p {
    margin-bottom: 12px;
    text-align: center;
  }
}
@media (max-width: 960px) {
  .header p {
    font-size: 16px;
  }
}

.ctaWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.ctaButtons {
  --vp-c-text-light-1: rgba(60, 60, 67);
  --vp-c-text-light-2: rgba(60, 60, 67, 0.75);
  --vp-c-text-light-3: rgba(60, 60, 67, 0.33);
  --vp-c-text-1: var(--vp-c-text-light-1);
  --vp-c-text-2: var(--vp-c-text-light-2);
  --vp-c-text-3: var(--vp-c-text-light-3);
  --vp-c-brand: #586ec0; /* Main brand color */
  --vp-c-brand-light: #7288d7; /* Light brand color */
  --vp-c-brand-lighter: #cba9ef; /* Lightest brand color */
  width: min(100%, 250px);
}

@media (max-width: 1024px) {
  .ctaButtons {
    justify-content: center;
  }
}

.ctaButtons a {
  --border-thickness: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 38px;
  line-height: 1.4;
  font-size: 15px;
  font-weight: 700;
  color: var(--vp-c-text-1);
  --border-thickness: 2px;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1), inset 0 0 0 var(--border-thickness) var(--vp-c-text-1);
  backdrop-filter: blur(4px);
  transition: 0.16s ease;
  transition-property: background-color, border-color, box-shadow, color, transform;
}

.ctaButtons a:hover {
  --border-thickness: 1px;
  background-color: #fff;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 0 0 0 var(--border-thickness) var(--vp-c-brand-lighter),
    0 0 24px -10px var(--vp-c-brand-lighter);
  transform: translateY(-2px);
  text-decoration: none;
  color: var(--vp-c-text-1);
}

.ctaButtons a.simple {
  width: min(100%, 200px);
  text-underline-offset: 2px;
  box-shadow: none !important;
  text-decoration: underline;
  background-color: transparent !important;
  backdrop-filter: none;
}

.ctaButtons a.simple:hover {
  color: var(--vp-c-brand);
}
