.markdown-container {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.markdown-container.dark {
  width: 100%;
  border: 1px solid dimgray;
  border-radius: 5px;
}

.has-text .isEmpty.hasAnchor .inlineContent:before {
  content: '';
}

div[id*='blockcell'] > div > div[data-theme='dark'] {
  color: rgb(221, 215, 215) !important;
  background-color: #282a34 !important;
}

div[data-theme='dark'].blocknote-editor code {
  color: #fff !important;
  background-color: #3c4151 !important;
  border: 1px solid #5d6579;
}

div[data-theme='light'].blocknote-editor code {
  color: #6e6e6e !important;
  background-color: #fdfdfd !important;
  border: 1px solid #eaeaec;
}

.blocknote-editor {
  padding: 8px 24px !important;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* .blocknote-editor ._collaboration-cursor__label_4vj2p_85 {
  color: #fff;
} */

.blocknote-editor code {
  font-family: 'Fira Code', 'Monaco', 'Mono Lisa', 'Monospace';
  font-size: 0.9rem;
  border-radius: 4px;
  padding-inline: 4px;
  padding-block: 1px;
}
