.clients {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.avatars-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  border-top: 1px solid #e0e0e0;
  opacity: 0.5;
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.7em;

  margin-inline: 16px;
}

.client-avatars {
  display: flex;
  flex-direction: column;
  width: 6%;
  max-width: 100px;
  padding-top: 28px;
  align-items: center;
  border-left: 1px solid #e0e0e0;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.client-avatars::-webkit-scrollbar {
  display: none;
}

.client-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
