.exeBadge {
  background-color: #2d313c;
  border: 2px solid gray;
  font-family: 'Fira Code', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-weight: bold;
}

.codecell-container {
  mask-image: radial-gradient(circle, black 100%, transparent 100%);
  width: 100%;
  border: 1px solid dimgray;
  border-radius: 5px;
  background-color: #3d414d;
}

.codecell-output {
  padding: 0 4px;
  opacity: 0.9;
}

.codecell-output p {
  margin-left: 5px;
  color: '#cfd1d8';
  font-family: 'Fira Code', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 14px;
}

.codecell-output.error {
  background-color: crimson;
}

.markdown-container {
  /* mask-image: radial-gradient(circle, black 100%, transparent 100%); */
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.block-cell {
  padding: 0 calc((100% - 731px) / 2);
  height: 100%;
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  resize: none;
}

/* .cm-gutters .cm-lineNumbers .cm-gutterElement {
  visibility: hidden;
} */
