.lds-dual-ring {
  display: inline-block;
  height: 64px;
  width: 64px;
}

.lds-dual-ring:after {
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
  animation: lds-dual-ring 1.2s linear infinite;
  border-color: #510077 transparent;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  content: ' ';
  display: block;
  height: 46px;
  margin: 1px;
  width: 46px;
}

.loading-spinner__overlay {
  align-items: center;
  background: hsla(0, 0%, 100%, 0.9);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.wrap-content {
  word-wrap: break-word;
  white-space: normal;
}
